.app{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.side-bar{
  position: absolute;
  width: 657px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #2C2C2C;
}

@media (min-width: 768px) {
  .side-bar {
    width: 657px;
    height: 1080px;
    margin: 0 auto;
  }
}